*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#containerImage{
  width: 180em;
  height: 25em;
}

#containerImage2{
  width: 224em;
  height: 25em;
}

#container-beneficios {
  background-image: url('../assets/images/bgBeneficios.png');
  background-size: cover; 
  height: max-content;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

